# SPDX-FileCopyrightText: Copyright 2020-2025, Contributors to Tyrannosaurus
# SPDX-PackageHomePage: https://github.com/dmyersturnbull/tyrannosaurus
# SPDX-License-Identifier: Apache-2.0

# See: https://editorconfig.org
root = true

# About indentation style:
# We'll use the most prevalent indentation style for each language,
# using the survey of top-starred GitHub repos at https://ukupat.github.io/tabs-or-spaces/ .

# About line length:
# Soft limits (and breaking in sensible places) are generally superior to hard limits.
# The editorconfig spec states that `max_line_length` is a hard limit.
# However, Prettier uses it as `--print-width`, a soft limit.
# We'll default `max_line_length` to 100.
# If you must use a formatter that treats it as a hard limit,
# set `max_line_length = 120` and specify `--print-width 100` in `.pre-commit-config.yaml`.

# ================ Default (2 spaces) ============================================================ #
# JavaScript, CSS, Markdown, and others
# Default to 2 spaces because it's the most common choice in the survey.
# Note: This breaks Markdown's 2 trailing spaces behavior, which was bad anyway (use `\` instead).
[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 100

# ================ Curly-brace languages using 4 spaces ========================================== #
# C, JVM, or C++-like: C, C++, C#, Rust, V, D, Java, Kotlin, Groovy
# Notes:
# - Assume `.v` is for the V language (https://vlang.io/), not Verilog.
# - Excludes Scala, which is universally 2-space.
[*.{c,cpp,h,cs,rs,d,v,java,kt,kts,groovy,gradle}]
indent_size = 4

# ================ Misc. languages using 4 spaces ================================================ #
# Compiled: Assembly, F#, Objective-C, Julia, Fortran (90+), Erlang, Swift
# Interpreted: Python, Lua, Perl, PowerShell, Batch, PHP (8+), MATLAB, Just
# Notes:
# - Allows `.f90`, `.f`, and`.for` for modern (free-form) Fortran, but not `.f95`/`.f03`/etc.
# - Options in `[*]` will ruin fixed-form Fortran (a format that's been deprecated for 35 years).
# - Lua is very mixed, but ~70% use spaces, and 4 spaces is the most common choice among those.
[*.{s,asm,fs,fsi,fsx,mm,julia,f90,f,for,erl,swift,py,lua,pl,perl,ps1,bat,php,m,just}]
indent_size = 4

# ================ Languages using tabs ========================================================== #
# Go, SAS, Vala, Haxe (`.hx`), AutoIt (`.au3`), Verilog (`.sv`)
[*.{go,sas,vala,hx,au3,sv}]
indent_style = tab

# ================ Tabular formats =============================================================== #
# Tab-separated, comma-separated, etc.
# Specifying `indent_style = tab` only because it feels safer.
[*.{tsv,tab,csv}]
indent_style = tab
trim_trailing_whitespace = false
insert_final_newline = false
max_line_length = unset
